h1
{
  color: DarkRed;
  text-align: center;
}
p 
{
  font-family: verdana;
  font-size: 20px;
  color: DarkRed;
}
button 
{
  margin-top: 50vh
  box-shadow: 0 8px 16px 0 rgba(0,0,0,8);
  background-color: #4CAF5;
  color: Darkred;
  padding: 15px 32px;
}
